:root {
    --imageHeight: 100px;
    --azulLogo: #1972B7;
    --azulBackground: #4c7dad;
    --sombra: 5px 0px 15px 0px rgb(0, 0, 0, .4);
}

/* ________________________________________________________________________________ */

/* PRINCIPAL */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: calc(100vh - 144px);
    background-color: var(--azulBackground);
    position: relative;
}

.container__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__h1 {
    text-align: center;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    text-shadow: 0px 0px 120px rgba(0, 0, 0, .4);
    padding: 0 5px;
}

.main__a {
    border-radius: 5px;
    background-color: var(--azulLogo);
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px 30px;
    box-shadow: var(--sombra);
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .6s;
}

.main__a:hover {
    background-color: #1463a0;
}

.container__imgMain {
    z-index: 250;
    height: 240px;
    display: flex;
    justify-content: center;
}

.main__img {
    height: 100%;
    border-radius: 50%;
    box-shadow: var(--sombra);
}


/* ________________________________________________________________________________ */

/* WAVE */


.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(img/wave.png);
    background-size: 1000px 100px;
}


.wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 200;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 199;
    opacity: .5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 198;
    opacity: .2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave.wave4 {
    animation: animate2 15s linear infinite;
    z-index: 197;
    opacity: .7;
    animation-delay: -2s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}


@media screen and (orientation: landscape) {
    .container__imgMain {
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 745px) {
    .main__h1 {
        font-size: 80px;
    }
    .main__a {
        font-size: 30px;
    }
    .container__imgMain {
        height: 300px;
    }
}


@media screen and (min-width: 1400px) {
    /* 1700 */
    .container__left {
        gap: 20px;
    }
    .main__h1 {
        font-size: 120px;
    }
    .main__a {
        font-size: 50px;
    }
    .container__imgMain {
        margin-top: 30px;
        height: 400px;
    }
}

@media screen and (orientation: landscape) and (max-height: 630px) {
    .container__imgMain{
        height: 250px;
    }
}



.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.content {
    display: none;
}

.background {
    height: 20vh;
    visibility: hidden;
    background-color: var(--azulBackground);
    animation: backgroundContent .3s linear forwards;
}

.background--2 {
    animation-delay: .2s;
}

.background--3 {
    animation-delay: .4s;
}

.background--4 {
    animation-delay: .6s;
}

.background--5 {
    animation-delay: .8s;
}

@keyframes backgroundContent {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}