* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --imageHeight: 100px;
    --azulLogo: #1972B7;
    --azulBackground: #4c7dad;
    --sombra: 5px 0px 15px 0px rgb(0, 0, 0, .4);
    --h2FontSizeMobile: 34px;
    --pFontSizeMobile: 16px;
}

body::-webkit-scrollbar{
	width: 7px;
	/* background-color: #000; */
}

body::-webkit-scrollbar-thumb{ /* Barrita */
	width: 7px;
	background-color: rgba(255, 255, 255, .5);
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: radial-gradient(at left top, #0067CC, #FFFFFF); */
    background-color: var(--azulBackground);
    background-repeat: no-repeat;
}

.btn__scrollToTop {
    background: none;
    border: none;
    position: fixed;
    z-index: 300;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: .4s;
    padding: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.iconScroll {
    font-size: 20px;
}

.hidden {
    opacity: 0;
    transition: 1s;
}

.show {
    opacity: 1;
}

/* Saltar al contenido principal */

/* #skip a {
    display: block;
    position: absolute;
    left: -999px;
    top: -999px;
}

#skip a:focus {
    left: 0;
    top: 0;
    padding: 3px;
    background: #ffc;
    border: 1px solid #990000;
} */

/* ________________________________________________________________________________ */

/* DESKTOP NAVBAR */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    box-shadow: var(--sombra);
}

.header__img {
    height: var(--imageHeight);
    
}

.nav__ul--desktop {
    display: flex;
}

.nav__li {
    list-style: none;
}

.nav__li--a {
    color: var(--azulLogo);
    font-weight: 500;
    font-size: 35px;
    padding: 0 20px;
    transition: ease .4s;
    font-weight: 700;
    text-decoration: none;
}

.nav__li::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #72abd7;
    margin: auto;
    display: block;
    transition: width .2s linear;
}

.nav__li:hover::after {
    width: 80%;
    transition: width .2s linear;
}

/* Ícono del hamburger */

.container__menuIcon {
    display: none; 
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

#menuIcon {
    color: var(--azulLogo);
    font-size: 40px;
}

@media screen and (max-width: 1285px) {
   .nav__ul--desktop {
        display: none;
   }
   .container__menuIcon {
        display: block;
   } 
}



/* ________________________________________________________________________________ */

/* MOBILE NAVBAR */

.nav__mobile {
    width: 100%;
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    overflow-y: auto;
    transition: .4s;
    transform: translateX(-100%);
    z-index: 300;
}

.nav__mobile.active {
    display: block;
    transform: translateX(0);
}

/* Ícono de X */

.container__markIcon {
    color: #fff;
    font-size: 40px;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav__ul--mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 80%;
    gap: 20px;
}

.nav__ul--mobile .nav__li--a {
    padding: 10px;
    color: #fff;  
}




/* ________________________________________________________________________________ */

/* PRINCIPAL */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: calc(100vh - 144px);
    background-color: var(--azulBackground);
    position: relative;
}

.container__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__h1 {
    text-align: center;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    text-shadow: 0px 0px 120px rgba(0, 0, 0, .4);
    padding: 0 5px;
}

.main__a {
    border-radius: 5px;
    background-color: var(--azulLogo);
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px 30px;
    box-shadow: var(--sombra);
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .6s;
}

.main__a:hover {
    background-color: #1463a0;
}

.container__imgMain {
    z-index: 250;
    height: 240px;
    display: flex;
    justify-content: center;
}

.main__img {
    height: 100%;
    border-radius: 50%;
    box-shadow: var(--sombra);
}


/* ________________________________________________________________________________ */

/* WAVE */


.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(img/wave.png);
    background-size: 1000px 100px;
}


.wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 200;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 199;
    opacity: .5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 198;
    opacity: .2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave.wave4 {
    animation: animate2 15s linear infinite;
    z-index: 197;
    opacity: .7;
    animation-delay: -2s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}


@media screen and (orientation: landscape) {
    .container__imgMain {
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 745px) {
    .main__h1 {
        font-size: 80px;
    }
    .main__a {
        font-size: 30px;
    }
    .container__imgMain {
        height: 300px;
    }
}


@media screen and (min-width: 1400px) {
    /* 1700 */
    .container__left {
        gap: 20px;
    }
    .main__h1 {
        font-size: 120px;
    }
    .main__a {
        font-size: 50px;
    }
    .container__imgMain {
        margin-top: 30px;
        height: 400px;
    }
}

@media screen and (orientation: landscape) and (max-height: 630px) {
    .container__imgMain{
        height: 250px;
    }
}



.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.content {
    display: none;
}

.background {
    height: 20vh;
    visibility: hidden;
    background-color: var(--azulBackground);
    animation: backgroundContent .3s linear forwards;
}

.background--2 {
    animation-delay: .2s;
}

.background--3 {
    animation-delay: .4s;
}

.background--4 {
    animation-delay: .6s;
}

.background--5 {
    animation-delay: .8s;
}

@keyframes backgroundContent {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}