:root {
    --imageHeight: 100px;
    --azulLogo: #1972B7;
    --azulBackground: #4c7dad;
    --sombra: 5px 0px 15px 0px rgb(0, 0, 0, .4);
    --h2FontSize: 42px;
    --pFontSize: 18px;
}

/* ________________________________________________________________________________ */

/* EQUIPO */


.equipo {
    background-color: #fff;
    line-height: 42px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--sombra);
}

.equipo__h2 {
    padding: 10px 0;
    font-size: var(--h2FontSize);
}

.equipo__p {
    font-size: var(--pFontSize);
}

.equipo__ul {
    margin-left: 30px;
    list-style-type: disc;
    font-size: var(--pFontSize);
}

.equipo__p--escuela {
    font-weight: bold;
}